.pagina-lista-pratos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 32px;
}
  
.pagina-lista-pratos .container {
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    text-align: center;
    border-radius: 8px;
}
  
.pagina-lista-pratos .container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: #000000;
}
  
.pagina-lista-pratos .container .link-voltar {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    text-align: center; 
    text-decoration: none;
}
  
.pagina-lista-pratos .container .link-voltar:hover {
    text-decoration: none;
}   